<!DOCTYPE html>

<html>

<head>
    <title>About us</title>
    <link rel="icon"href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css"> 

    </head>


<body>
    <div class="main-content">
        {{>header}}
        <p><b>Alliah Garlan</b></p>
        <p>BSIT IV-B</p>
        <p>Leader</p>        
        <img src="/img/alliah.png" alt=""><br>

        <p><b>Candelaria Pastor</b></p>
        <p>BSIT IV-B</p>
        <p>Member</p>        
        <img src="/img/cande.png" alt=""><br>

        <p><b>Jeziel Rivera</b></p>
        <p>BSIT IV-B</p>
        <p>Member</p>        
        <img src="/img/jeziel.png" alt=""><br>

        <p><b>Trecia Mae Garbin</b></p>
        <p>BSIT IV-B</p>
        <p>Member</p>        
        <img src="/img/trecia.png" alt=""><br>

        <p><b>Jomalyn Buragay</b></p>
        <p>BSIT IV-B</p>
        <p>Member</p>        
        <img src="/img/joma.png" alt=""><br>



    {{>footer}}
</body>

</html>